.field-type-crossword-field .container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.field-type-crossword-field .center {
  margin: 0 auto;
}

.field-type-crossword-field .btn {
  margin: 8px 4px 0;
}

.field-type-crossword-field .btn {
  width: 172px;
  height: 28px;
}

.field-type-crossword-field .line {
  height: 30px;
}

.field-type-crossword-field .word {
  display: inline-block;
  text-align: right;
  width: 100px;
}

.field-type-crossword-field .clue {
  display: inline-block;
  width: 500px;
}

.field-type-crossword-field .crossword {
  display: block;
}

.field-type-crossword-field .square {
  margin: 0 -1px -1px 0;
  display: inline-block;
  font: 24px Calibri;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.field-type-crossword-field .letter {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-sizing: border-box;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.field-type-crossword-field .char:focus {
  background-color: rgba(255, 32, 32, 0.1);
}

.field-type-crossword-field .char {
  font-size: 24px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  background: none;
}

.field-type-crossword-field .hide {
  display: none;
}

.field-type-crossword-field .clue-read-only {
  border: 0;
  outline: 0;
  color: #303030 !important;
  background: none;
}

.field-type-crossword-field .clue-read-only span {
  font-weight: bold;
}

.field-type-crossword-field .square.num {
  font-size: 0.85em;
  width: 30px;
  height: 30px;
  text-align: center;
}

.field-type-crossword-field .square.num:after {
  content: '.';
}

.field-type-crossword-field .square span {
  font-size: 0.5em;
}
